/* mobile first design */
/* default css is for mobile */
/* media queries for larger view changes */

* {
  box-sizing: border-box;
}

body {
  background-color: thistle;
  display: flex;
  justify-content: center;
}

.box {
  border: 1px solid #000;
  opacity: 0.5;
  flex-shrink: 0;
}

.all-boxes-container {
  width: 400px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-boxes-container {
  flex-direction: column;
}

.big-boxes-container div {
  width: 400px;
  height: 400px;
  background-color: lightcoral;
}

.med-boxes-container, .small-boxes-container {
  flex-wrap: wrap;
}

.med-boxes-container div {
  width: 100px;
  height: 100px;
  background-color: lightgoldenrodyellow;
}

.small-boxes-container div {
  width: 50px;
  height: 50px;
  background-color: lightgreen;
}

/* media queries here */
